.container
  #overlay.overlay
    nav.overlay-menu
      ul
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Work
        li
          a(href='#') Contact