$main-reg: 'robotoregular';
$main-light: 'robotolight';
$main-medium: 'robotomedium';

/* ---------- bernier ---------- */
$bernier_dist-reg: 'bernier_distressedregular';
$bernier_reg: 'Conv_BERNIERRegular-Regular';
$bernier_shade: 'Conv_BERNIERShade-Regular';

