

@font-face {
  font-family: 'Conv_BERNIERShade-Regular';
  src: url('/assets/fonts/BERNIERShade-Regular.eot');
  src: local('/assets/☺'), url('assets/fonts/BERNIERShade-Regular.woff') format('woff'), url('assets/fonts/BERNIERShade-Regular.ttf') format('truetype'), url('assets/fonts/BERNIERShade-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Conv_BERNIERRegular-Regular';
  src: url('/assets/fonts/BERNIERRegular-Regular.eot');
  src: local('/assets/☺'), url('/assets/fonts/BERNIERRegular-Regular.woff') format('woff'), url('assets/fonts/BERNIERRegular-Regular.ttf') format('truetype'), url('assets/fonts/BERNIERRegular-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'bernier_distressedregular';
  src: url('/assets/bernierdistressed-regular.eot');
  src: url('/assets/bernierdistressed-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/bernierdistressed-regular.woff2') format('woff2'),
  url('/assets/bernierdistressed-regular.woff') format('woff'),
  url('/assets/bernierdistressed-regular.ttf') format('truetype'),
  url('/assets/bernierdistressed-regular.svg#bernier_distressedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}





@font-face {
  font-family: 'robotolight';
  src: url('/assets/fonts/roboto_light.eot');
  src: url('/assets/fonts/roboto_light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto_light.woff2') format('woff2'),
  url('/assets/fonts/roboto_light.woff') format('woff'),
  url('/assets/fonts/roboto_light.ttf') format('truetype'),
  url('/assets/fonts/roboto_light.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'robotomedium';
  src: url('/assets/fonts/roboto_medium.eot');
  src: url('/assets/fonts/roboto_medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto_medium.woff2') format('woff2'),
  url('/assets/fonts/roboto_medium.woff') format('woff'),
  url('/assets/fonts/roboto_medium.ttf') format('truetype'),
  url('/assets/fonts/roboto_medium.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'robotoregular';
  src: url('/assets/fonts/roboto_regular.eot');
  src: url('/assets/fonts/roboto_regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/roboto_regular.woff2') format('woff2'),
  url('/assets/fonts/roboto_regular.woff') format('woff'),
  url('/assets/fonts/roboto_regular.ttf') format('truetype'),
  url('/assets/fonts/roboto_regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


