%svg-common {
	background: url("images/svg-sprite-00721e90.svg") no-repeat;
}

.svg-about_bg_left {
	@extend %svg-common;
	background-position: 0 79.12898484522151%;
}

.svg-about_bg_left-dims {
	width: 900.006px;
	height: 1013.986px;
}

.svg-about_bg_right {
	@extend %svg-common;
	background-position: 64.16381911912218% 78.75618069902264%;
}

.svg-about_bg_right-dims {
	width: 900.331px;
	height: 1009.986px;
}

.svg-about_header {
	@extend %svg-common;
	background-position: 0 99.94517569911379%;
}

.svg-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

.svg-arrow_down {
	@extend %svg-common;
	background-position: 99.45838564943672% 11.287602369391525%;
}

.svg-arrow_down-dims {
	width: 25.18px;
	height: 16.164px;
}

.svg-bg {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-bg-dims {
	width: 2000px;
	height: 354.69px;
}

.svg-blog_header {
	@extend %svg-common;
	background-position: 99.95966627465818% 0;
}

.svg-blog_header-dims {
	width: 302.193px;
	height: 208.012px;
}

.svg-envelope {
	@extend %svg-common;
	background-position: 95.39725767956693% 12.784186392500429%;
}

.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-github {
	@extend %svg-common;
	background-position: 94.42248572683356% 12.816929776810017%;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-github_round {
	@extend %svg-common;
	background-position: 88.7705281846427% 11.498728579325595%;
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger {
	@extend %svg-common;
	background-position: 88.37825894829872% 14.145394736842105%;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
}

.svg-in {
	@extend %svg-common;
	background-position: 89.5129442738043% 14.052466637836849%;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-in_round {
	@extend %svg-common;
	background-position: 93.20905459387484% 11.498728579325595%;
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-link {
	@extend %svg-common;
	background-position: 90.3727217995731% 14.023343977172363%;
}

.svg-link-dims {
	width: 19.125px;
	height: 19.125px;
}

.svg-phone {
	@extend %svg-common;
	background-position: 91.1996921374209% 14.021347323596016%;
}

.svg-phone-dims {
	width: 18.864px;
	height: 18.863px;
}

.svg-portf_arrow_down {
	@extend %svg-common;
	background-position: 95.12163180938155% 11.357063494880062%;
}

.svg-portf_arrow_down-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portf_arrow_up {
	@extend %svg-common;
	background-position: 97.01238439403537% 11.357063494880062%;
}

.svg-portf_arrow_up-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portfolio_header {
	@extend %svg-common;
	background-position: 0 22.956702063831397%;
}

.svg-portfolio_header-dims {
	width: 1175.495px;
	height: 313.961px;
}

.svg-skype {
	@extend %svg-common;
	background-position: 87.7577885037297% 15.967956403269755%;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
}

.svg-vk {
	@extend %svg-common;
	background-position: 98.34944207825026% 11.293479423435985%;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

.svg-vk_round {
	@extend %svg-common;
	background-position: 90.98979138925877% 11.498728579325595%;
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

.svg-works_header {
	@extend %svg-common;
	background-position: 65.38159262561467% 20.938461502133457%;
}

.svg-works_header-dims {
	width: 505.101px;
	height: 165.036px;
}

